# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [4]:
data_dict = {"evolution" : ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
             "hp" : [45, 39, 44, 45],
             "name" : ["Bulbasaur", "Charmender", "Squirtle", "Caterpie"],
             "pokedex" : ["yes", "no", "yes", "no"],
             "type" : ["grass", "fire", "water", "bug"]}

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmender      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called

In [5]:
dataframe = pd.DataFrame(data_dict)

dataframe.head()

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmender      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
dataframe = dataframe[["name", "type", "hp", "pokedex"]]

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
dataframe["place"] = ["kocaeli", "adana", "bursa", "antalya"]

### Step 6. Present the type of each column

### BONUS: Create your own question and answer it.